@model MovieCore.ViewModels.MovieDetailsViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<h1>@Model.Title</h1>

<div class="row">
    <div class="col-sm-4">
        <img src="@Model.Poster" onerror="this.src=@Model.Poster" class="thumbnail">
    </div>
    <div class="col-sm-8">
        <table class="table table-striped table-hover">
            <tr><td>Year</td><td>@Model.Year</td></tr>
            <tr><td>Rated</td><td>@Model.Rated</td></tr>
            <tr><td>Released</td><td>@Model.Released</td></tr>
            <tr><td>Runtime</td><td>@Model.Runtime</td></tr>
            <tr><td>Genre</td><td>@Model.Genre</td></tr>
            <tr><td>Director</td><td>@Model.Director</td></tr>
            <tr><td>Writer</td><td>@Model.Writer</td></tr>
            <tr><td>Actors</td><td>@Model.Actors</td></tr>
            <tr><td>Plot</td><td>@Model.Plot</td></tr>
            <tr><td>Language</td><td>@Model.Language</td></tr>
            <tr><td>Country</td><td>@Model.Country</td></tr>
            <tr><td>Awards</td><td>@Model.Awards</td></tr>
            <tr><td>Metascore</td><td>@Model.Metascore</td></tr>
            <tr><td>Rating</td><td>@Model.Rating</td></tr>
            <tr><td>Votes</td><td>@Model.Votes</td></tr>
            <tr><td>ID</td><td>@Model.ID</td></tr>
            <tr><td>Type</td><td>@Model.Type</td></tr>
            <tr><td>Price</td><td class="danger">@Model.Price (Best Price from @Model.DatabaseName)</td></tr>
        </table>
    </div>

</div>
<a asp-action="Index">Return Home</a>